{% extends 'adminbase.html.twig' %}

{% block title %}New PlayInternal{% endblock %}

{% block body %}
    <h1>Create new PlayInternal</h1>

    {{ include('admin/play_internal/_form.html.twig') }}

    <a href="{{ path('play_internal_index') }}" class="btn btn-primary">back to list</a>
{% endblock %}
