{% extends 'adminbase.html.twig' %}

{% block title %}New Editorial{% endblock %}

{% block body %}
    <h1>Create new Editorial</h1>

    {{ include('admin/editorial/_form.html.twig') }}

    <a href="{{ path('editorial_index') }}" class="btn btn-primary">back to list</a>
{% endblock %}
